.offerDescription {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding: 6rem;
  position: relative;

  & > * {
    margin-bottom: 2rem;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  &__offerTitle {
    color: $color-green;
    font-weight: 800;
    font-size: 3rem;
  }
  &__offerType {
    color: $color-white;
    font-size: 2rem;
    font-weight: 500;
    border-left: 2px solid currentColor;
    padding: 0 1rem;
    height: 120%;

    display: flex;
    align-items: center;
  }
  &__offerDetails {
    color: $color-grey;
    font-size: 1.8rem;
    font-family: Karla, sans-serif;
    font-weight: 400;

    display: flex;
    align-items: center;
    svg:last-of-type {
      margin-left: 0.5rem;
    }
  }

  &__main {
    font-size: 2rem;
    font-weight: 400;
    display: grid;
    justify-items: left;
    grid-gap: 2rem;
    color: $color-white;
  }
  &__offerDescription {
    width: 90%;
    text-align: justify;
  }
  &__offerRequirementsList {
    list-style: none;
    color: $color-grey;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2rem 0;

    display: grid;
    grid-gap: 1rem;
    li {
      display: flex;
      align-items: center;
      &:not(last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  &__offerSumup {
    font-size: 1.7rem;
    font-family: Karla, sans-serif;
    font-weight: 800;
  }
  &__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  &__btn {
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    text-align: center;
    &--primary {
      background: $color-green;
      color: $color-white;
    }
    &--secondary {
      color: $color-green;
      border: 2px solid currentColor;
    }
  }
  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
    margin-right: 0.5rem;
  }
  &__requirementIcon {
    fill: $color-green;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
  }
  &__closeIcon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-grey;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      fill: $color-white;
    }
  }
}
