.header {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin-right: 5rem;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
      margin-bottom: 4rem;
      align-items: center;
    }
    &--main {
      font-weight: 700;
      font-size: 5rem;
      color: $color-white;
      span {
        color: $color-green;
      }
    }
    &--sub {
      font-family: Karla, sans-serif;
      color: $color-grey;
      font-weight: 400;
      font-size: 2rem;
    }
  }
}
